* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --prm-color: #4E47FF;
    --t-color: #252432;
    --d-color: #9494a7;
}

/* common style  */
.logo {
    font-size: 34px;
    font-weight: 600;
    line-height: 150%;
    color: var(--prm-color);
}

.w {
    width: 80%;
    margin: 0 auto;

}

.btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: var(--prm-color);
    color: #fff;
    transition: .5s;
}

p {
    color: var(--t-color);
}

/* hover efect area  */
.btn:hover {
    color: var(--prm-color);
    border: 1px solid var(--prm-color);
    background-color: transparent;
}

/* hover efect area ending point  */
/* common style ending point  */
body {
    background-color: #F5F8FF;
}

header {
    width: 100vw;
    height: 700px;
    background-image: url(/images/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 124px;
}


.banner-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.banner-content {
    margin: 150px 0;
    text-align: center;
}

.banner-content .banner-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 85px;
}


/* ------- action section styling ------- */
.action {
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
}

.action-text .action-title {
    font-size: 42px;
    font-weight: bold;
    color: var(--t-color);
    margin-bottom: 25px;
}

.action-text .description {
    font-size: 24px;
    line-height: 30px;
    color: var(--d-color);
    margin-bottom: 25px;

}

.action .action-img img {
    border-radius: 48px;
}

/* -- ------- productive user section ------- -- */
.p-user {
    height: 380px;
    margin-bottom: 140px;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}

.p-user h1 {
    font-size: 38px;
    font-weight: bold;
    color: var(--t-color);
    padding: 50px 0;
}

.p-user .users {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 148px;
}

.p-user .users h2 {
    font-size: 80px;
    font-weight: bold;
    color: var(--prm-color);
}

.p-user .users p {
    font-size: 20px;
}

/* -- ------- Get in touch section ------- -- */
.get-in-t {
    height: 632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F8FF;
    padding: 130px 0;
}

.get-in-t h2 {
    font-size: 97px;
    font-weight: 700;
    line-height: 120%;
    color: #000000;
}

form label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    padding-bottom: 10px;

}

form div {
    margin-bottom: 20px;
}

form div input,
textarea {
    width: 500px;
    height: 70px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}

form div textarea {
    height: 140px;
}

form div input[placeholder],
textarea {
    font-size: 20px;
    line-height: 150%;
    padding: 30px 20px;
}

.form-btn {
    display: block;
    text-align: center;
    width: 500px;
}

/* ------- footer style ------- */
footer {
    width: 100vw;
    text-align: center;
    background-color: #ffffff;
    padding: 105px 0;

}

footer .logo {
    font-size: 100px;
    font-weight: 800;
    line-height: 100%;
    /* margin-top: 105px; */
}

footer p {
    color: var(--d-color);
    /* line-height: 25px; */
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.navigation a {
    text-decoration: none;
    color: var(--d-color);
    display: inline-block;
    margin-right: 45px;
}

/* ------- what our users say------ */
.users-opinion{
    margin: 140px;
}
.users-opinion h2 {
    font-size: 42px;
    font-weight: bold;
    color: var(--t-color);
    text-align: center;
    padding: 5px 0;
    margin-bottom: 50px;

}

.users-opinion .users-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-item {
    width: 370px;
    height: 245px;
    border-radius: 10px;
    box-shadow: 0 0 5px #72727a;
    padding: 24px;

    
}
.user-item h3{
    font-size: 22px;
    font-weight: 500;
    color: var(--t-color);
    padding:8px 0;
}
.user-item p{
    font-size: 16px;
    color: var(--d-color);
    padding-bottom: 24px;
}
.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    padding-bottom: 24px;
    position: relative;
}

.user-info img {
    border-radius: 50%;
}
.user-name h5{
    color: #72727a;
    font-weight: 600;
    font-size: 15px;
}
.user-name p{
    color:#b8b8be ;
    font-size: 13px;
}
.user-name{
    position: absolute;
    left: 50px;
    bottom: 0px;
}